<div *ngIf="object" class="container">
  <form>
    <table class="table">
      <tr *ngFor="let key of getKeys(); let i = index">
        <td>
          {{key | dashCaseToFirstCapital}}
        </td>
        <td>
          <input *ngIf="!isBoolean(object[key]) && key!=='color'" type="text" name="{{key}}" [(ngModel)]="object[key]" class="form-control"/>
          <label class="custom-control custom-checkbox" *ngIf="isBoolean(object[key])">
            <input type="checkbox" name="{{key}}" [(ngModel)]="object[key]" class="custom-control-input"/>
            <span class="custom-control-indicator"></span>
          </label>
          <input class="color-input" *ngIf="key==='color'" name="color" [style.background]="object[key]" [(colorPicker)]="object[key]" />
        </td>
      </tr>
    </table>
  </form>
  <div class="container">
    <div style="float: right">
      <button type="button" class="btn btn-secondary hand-cursor" (click)="goBack()">Back</button>
      <button type="button" class="btn btn-secondary hand-cursor" (click)="save()">Save</button>
    </div>
  </div>
</div>


