<th scope="row">{{guest.id}}</th>
<td>{{guest.name}}</td>
<td>{{guest.surname}}</td>
<td>{{guest.email}}</td>
<td class="table-button-cell">
  <button type="button" class="btn btn-primary" (click)="openDetailsModal()">
    Show detils
  </button>
</td>
<td class="table-button-cell">
  <button type="button" class="btn btn-secondary" routerLink="/guestEdit/{{guest.id}}">Edit</button>
</td>
<td class="table-button-cell">
  <button type="button" class="btn btn-secondary" (click)="openRemoveModal()">Remove</button>
</td>
