<div class="container">
  <div class="list-container">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr app-guest *ngFor="let guest of currentGuests" [guest]="guest" (remove)="removeGuest($event)">
      </tr>
      </tbody>
    </table>
  </div>
  <div class="center-container">
    <ngb-pagination [collectionSize]="guests.length" [(page)]="page" (pageChange)="pageChanged($event)"
                    [pageSize]="pageSize"></ngb-pagination>
  </div>
</div>
